html {

	font-size: 16px;
}

body {
	background-color: #e0e0e0;
}

h1 {
	font-family: "Helvetica Neue";
}

.headline {
	font-size: 1.5em;

}

 h2 {
	color: #ffffff;
	text-align: right;
	margin-bottom: 25px;
}

 em {
	background-color: #8e8e8e;
	font-style: normal;
	box-shadow: 10px 10px #424242;
	padding-left: 5px;
	padding-right: 5px;
}

.headline h2 {
	text-decoration: #111111;
	color: #ffffff;
	text-align: right;
	margin-bottom: 25px;
	font-size: 2em;
}

.headline em {
	background-color: #c6c6c6;
	font-style: normal;
	box-shadow: 10px 10px #888888;
	padding-left: 5px;
	padding-right: 5px;

}

footer {
	height: 100px;
	margin-top: 20px;
	text-align: center;
}


.navbar {
	background-color: #ffffff;
	border: 0;
	margin-top: 20px;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	box-shadow: 10px 10px #424242;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}



.news {
	background-color: #ffffff;
	box-shadow: 20px 20px #424242;
	margin-left: 5px;
	margin-right: 5px;


}

.news p {
	padding: 10Px;
}

.past {
	box-shadow: 10px 10px #888888;
	padding: 10Px;
	background-color: #ffffff;

}

#firstcol {
	margin-top: 45px;

}

#thirdcol {
	margin-top: 45px;

}


.widgets {
	background-color: #ffffff;
	box-shadow: 10px 10px #888888;
	padding: 10Px;

}

.logo {
	background-color: #ffffff;
	box-shadow: 15px 15px #424242;
	margin-right: 0;

}







